<div class="container">
  <div *ngIf="currencies !== undefined">
    <h1>Available currencies</h1>
    <div class="row">
      <div class="col-sm-3">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" name="searchText" [(ngModel)]="searchText" placeholder="search">
          </div>
        </form>
      </div>
      <div class="col-sm-2">
        <ng-select [items]="searchFields"
                   [clearable]="false"
                   [(ngModel)]="searchField">
        </ng-select>
      </div>
    </div>
    <mat-grid-list [cols]="cols" rowHeight="2:1" class="currency-grid">
      <mat-grid-tile
        (click)="switchCurrency(currency)"
        *ngFor="let currency of currencies | filter: searchField:searchText | angularPaginator: { currentPage: currentPage, itemsPerPage: itemsPerPage }" class="currency-tile">
          ID: {{ currency.id }}
          Type: {{ currency.attributes.currency_type }}
          Symbol: {{ currency.attributes.native_symbol }}
      </mat-grid-tile>
    </mat-grid-list>

    <div class="row">
      <div class="col-sm-3">
        <ng-select [items]="itemsPerPages"
                   [clearable]="false"
                   [(ngModel)]="itemsPerPage">
        </ng-select>
      </div>
      <div class="col-sm-9">
        <app-angular-paginator
          [boundaryLinks]="true"
          [directionLinks]="true"
          [maxSize]="4"
          id="ANGULAR_PAGINATOR_DEFAULT"
          firstText="<<"
          previousText="Previous"
          nextText="Next"
          lastText=">>"
          (pageChange)="currentPage = $event"></app-angular-paginator>
      </div>
    </div>
  </div>
</div>
